.super-mario {
    width: 200px;
    position: absolute;
    top: 90px;
    left: 90px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 440px;
    left: 140px;
  }
  
  .baloon {
  position: absolute;
  top: 290px;
  left: 330px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 335px;
    left:350px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 450px;
    left: 600px;
  }